<md-dialog>
    </md-dialog-content>
        <div class="md-dialog-content">
            <h3>About</h3>
            <p>Joke Telling App.</p>
            <p>Part of <a href="http://udacity.com">Udacity</a> Android Nanodegree, 2015</p>
            <p>All Jokes Are From <a href="http://howtodoinjava.com/2013/03/12/some-java-programmers-jokes/">howtodoinjava.com</a></p>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button md-autofocus ng-click="closeDialog()">
            OK
        </md-button>
    </md-dialog-actions>
</md-dialog>